.default-btn
	display: inline-flex
	align-items: center
	white-space: nowrap
	border-radius: 3px
	border: 1px solid #FF8A00
	font-weight: 500
	transition: background-color .4s ease, color .4s ease, border-color .4s ease
	font-size: rem(14)
	padding: 13px 34px
	line-height: inherit
	cursor: pointer
	background: #FF8A00
	color: #fff