<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		//- title Кафс
		link(rel="shortcut icon" href="favicon.ico")
		//- link(rel="stylesheet" href="css/main.css")
		style(type="text/css")
			include inc/index.css
	body
		div
			.links
				.links_cont
					ul
						li
							a(target="_blank" href="main.html") Шаг 1
						li
							a(target="_blank" href="stage-2.html") Шаг 2
						li
							a(target="_blank" href="stage-3.html") Шаг 3
						li
							a(target="_blank" href="stage-4.html") Шаг 4
						li
							a(target="_blank" href="stage-4-2.html") Шаг 4(2)
						li
							a(target="_blank" href="stage-5.html") Шаг 5
						li
							a(target="_blank" href="stage-6.html") Шаг 6
						li
							a(target="_blank" href="stage-6-2.html") Шаг 6-2
						li
							a(target="_blank" href="stage-7.html") Шаг 7
						li
							a(target="_blank" href="stage-8.html") Шаг 8
						li
							a(target="_blank" href="stage-9.html") Шаг 9
						li
							a(target="_blank" href="stage-10.html") Шаг 10
						li
							a(target="_blank" href="forms.html") Формы