<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Шаг 3
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		main#content
			.ordering(data-stage="3")
				.wrapper
					.title Введите личный данные
					.text Кто заказывает
					form(action="")
						.form__inputs.form__inputs--2
							.form__inputs-input
								.default-input
									input.default-input__input(type="text"  required)
									label.default-input__label Ф.И.О.
									.default-input__error
										.error-text
											<!-- текст ошибки -->
						
					.btns
						a.default-btn.default-btn--prev Назад
						a.default-btn.default-btn--next Далее
					
		include inc/footer.pug
		include inc/scripts.pug